* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(../img/e7fe580d-b335-443f-8c9b-4cdb984236f1.png);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    overflow-x: hidden;

}

.chat-container {
    width: 350px;
    height: 500px;
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-message {
    background-color: #7bcf3bc9;
    align-self: flex-end;
}

.bot-message {
    background-color: #adababe7;
    align-self: flex-start;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-box {
    display: flex;
    padding: 10px;
    border-top: transparent;
    borderfilter: blur(30px);
    background: transparent;
    backdrop-filter: blur(30px);
}

.input-field {
    flex: 1;
    padding: 8px;
    border: transparent;
    border-radius: 5px;
}

.input-box button {
    margin-left: 5px;
    padding: 8px 15px;
    border: none;
    background: #25d366;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}